@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-italic.woff2") format("woff2"), url("../fonts/lato-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
body {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* цвет для placeholder */
::-webkit-input-placeholder {
  color: #B1B1B1;
}

::-moz-placeholder {
  color: #B1B1B1;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #B1B1B1;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #B1B1B1;
}

/* скрываем placeholder при фокусе */
:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

@media (max-width: 1599px) {
  .container {
    width: 94%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .container {
    width: 92%;
    margin: 0 auto;
  }
}
.header {
  background-color: #222222;
}
.header .header__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}
.header .header__logo {
  margin: 0 41px 0 0;
}
.header .header__search-group {
  display: flex;
  align-items: center;
}
.header .header__search-wrp {
  display: flex;
  align-items: center;
  position: relative;
}
.header .header__loupe {
  margin-right: 10px;
}
.header .header__search-input {
  padding: 10px 20px;
  border: none;
  outline: 1px solid #FFFFFF;
  border-radius: 30px;
  background: #222222;
  color: #FFFFFF;
  padding-left: 25px;
}
.header .header__form {
  position: absolute;
  display: none;
}
.header .header__search-wrp:hover .header__form {
  display: block;
}
.header .header__form::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 13px;
  left: 7px;
  background-image: url(../img/loupe.svg);
  background-size: 10px 10px;
  opacity: 0.7;
}
.header .header__button {
  background-color: transparent;
  border: 0;
  fill: #FFFFFF;
}
.header .header__button:hover,
.header .header__button:focus {
  opacity: 0.5;
  cursor: pointer;
}
.header .header__button:active {
  fill: #F16D7F;
  opacity: 1;
}
.header .header__link {
  margin: 0 0 0 33px;
  fill: #FFFFFF;
}
.header .header__link:hover,
.header .header__link:focus {
  opacity: 0.5;
}
.header .header__link:active {
  fill: #F16D7F;
  opacity: 1;
}
.header .header__link-basket {
  position: relative;
}
.header .header__link-basket-count {
  content: "";
  color: #FFFFFF;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border-radius: 50%;
  top: -20px;
  right: -10px;
  text-align: center;
}
.header .header__menu {
  background: #FFFFFF;
  display: none;
  height: 765px;
  width: 232px;
  position: absolute;
  right: 0;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.header .header__menu-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 33px;
  margin-top: 37px;
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}
.menu-sub-item__item-link {
  text-decoration: none;
  font-family: inherit;
  color: #6F6E6E;
  margin-left: 55px;
  display: inline-block;
  margin-top: 11px;
}

.menu-sub-item__item-link:hover,
.menu-sub-item__item-link:focus {
  text-decoration: underline;
}

.menu-sub-item__item-link:active {
  text-decoration: underline;
  color: #F16D7F;
}

.menu-sub-item__title {
  text-transform: uppercase;
  color: #F16D7F;
  margin-left: 33px;
  margin-top: 20px;
}

.brand {
  display: flex;
  margin: 0 0 65px;
}
@media (max-width: 1599px) {
  .brand {
    margin: 0 0 20px;
  }
}
.brand .brand__img {
  background-color: #F1E4E6;
}
@media (max-width: 1599px) {
  .brand .brand__img {
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 368px;
  }
}
@media (max-width: 767px) {
  .brand .brand__img {
    display: none;
  }
}
.brand .brand__title-wrp {
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
  background-color: #F1E4E6;
  flex-grow: 1;
}
@media (max-width: 1599px) {
  .brand .brand__title-wrp {
    width: 50%;
    min-height: 368px;
  }
}
@media (max-width: 767px) {
  .brand .brand__title-wrp {
    padding: 0;
    justify-content: center;
  }
}
.brand .brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
@media (max-width: 1599px) {
  .brand .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand .brand__title {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
}
.brand .brand__sub-title {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 1599px) {
  .brand .brand__sub-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand .brand__sub-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}
.brand .brand__sub-title-pink {
  color: #F16D7F;
}
@media (max-width: 767px) {
  .brand .brand__sub-title-pink {
    display: inline;
  }
}

.sales__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sales__item {
  width: 360px;
  min-height: 260px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1599px) {
  .sales__item {
    width: 32%;
    min-height: 168px;
  }
}
@media (max-width: 767px) {
  .sales__item {
    width: 100%;
    min-height: 247px;
  }
}

.sales__item--women {
  background-image: url(../img/women.jpg);
}

.sales__item--men {
  background-image: url(../img/men.jpg);
}
@media (max-width: 767px) {
  .sales__item--men {
    margin-top: 32px;
  }
}

.sales__item--kids {
  background-image: url(../img/kids.jpg);
}
@media (max-width: 767px) {
  .sales__item--kids {
    margin-top: 32px;
  }
}

.sales__item--accesories {
  background-image: url(../img/accesories.jpg);
  width: 100%;
  margin: 30px 0 0;
}
@media (max-width: 1599px) {
  .sales__item--accesories {
    min-height: 116px;
    margin: 19px 0 0;
  }
}
@media (max-width: 767px) {
  .sales__item--accesories {
    margin: 32px 0 0;
  }
}

.sales__item-text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.sales__item-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #F16D7F;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
}
.products .products__title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-transform: capitalize;
  text-align: center;
}
.products .products__text {
  color: #9F9F9F;
  text-align: center;
}
@media (max-width: 1599px) {
  .products .products__text {
    width: 44%;
  }
}
@media (max-width: 767px) {
  .products .products__text {
    width: 90%;
  }
}
.products .products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 48px 0;
}
.products .products__item {
  width: 360px;
  min-height: 581px;
  display: flex;
  flex-direction: column;
}
.products .products__item-wrp {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  padding: 25px 28px 20px 16px;
}
.products .products__item-title {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}
.products .products__item-text {
  font-weight: 300;
  color: #5D5D5D;
  margin: 12px 0 18px 0;
}
.products .products__item-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.products .products__item--margin-top {
  margin-top: 30px;
}
.products .products__item-card {
  width: 360px;
  height: 420px;
}
.products .products__item-card-wrapper {
  position: relative;
}
.products .products__item-img {
  width: 100%;
  min-height: 420px;
}
.products .products__overlay {
  width: 100%;
  min-height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  display: none;
  cursor: pointer;
}
.products .products__overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  background: none;
  border: 1px solid #FFFFFF;
  width: 138px;
  height: 43px;
  display: none;
  cursor: pointer;
}
.products .products__overlay-button--cart {
  margin-left: 35px;
}
.products .products__overlay-button--cart::before {
  position: absolute;
  content: "";
  background-image: url(../img/overlay_basket.svg);
  width: 26px;
  height: 24px;
  top: 7px;
  left: 13px;
}
.products .products__overlay-button:hover,
.products .products__overlay-button:focus {
  border: 1px solid #F16D7F;
}
.products .products__overlay-button:active {
  background: #F16D7F;
}
.products .products__overlay-button_wrp {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.products .products__item-card:hover .products__overlay,
.products .products__item-card:hover .products__overlay-button {
  display: block;
}
.products .products__button {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-transform: capitalize;
  padding: 14px 38px;
  border: 1px solid #FF6A6A;
  background: none;
  cursor: pointer;
}
.products .products__button:hover,
.products .products__button:focus {
  background: #F16D7F;
  color: #FFFFFF;
}
.products .products__button:active {
  background: #222222;
  color: #FFFFFF;
}

.benefits {
  background: #222222;
  margin-top: 95px;
}
@media (max-width: 1599px) {
  .benefits {
    margin-top: 65px;
  }
}
@media (max-width: 767px) {
  .benefits {
    margin-top: 96px;
  }
}
.benefits .benefits__list {
  display: flex;
  justify-content: space-between;
  padding: 104px 0;
}
@media (max-width: 1599px) {
  .benefits .benefits__list {
    flex-direction: column;
    padding: 0 0 64px 0;
  }
}
@media (max-width: 767px) {
  .benefits .benefits__list {
    flex-direction: column;
    padding: 0 0 81px 0;
  }
}
.benefits .benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1599px) {
  .benefits .benefits__item {
    margin-top: 48px;
  }
}
.benefits .benefits__item-title {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 25px;
  font-weight: 300;
}
.benefits .benefits__item-text {
  width: 360px;
  text-align: center;
  font-weight: 300;
  color: #FBFBFB;
  margin-top: 16px;
}
@media (max-width: 1599px) {
  .benefits .benefits__item-text {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .benefits .benefits__item-text {
    width: 93%;
  }
}

.footer {
  background-image: url(../img/subscription.png);
  width: 100vw;
  height: 448px;
  background-repeat: no-repeat;
  background-position-x: center;
}
@media (max-width: 1599px) {
  .footer {
    min-height: 693px;
    background-image: url(../img/subscription-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .footer {
    min-height: 550px;
    background-image: url(../img/subscription-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.footer .footer__wrp {
  height: 100%;
}
.footer .footer__list {
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 1599px) {
  .footer .footer__list {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .footer .footer__list {
    flex-direction: column;
  }
}
.footer .footer__feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 1599px) {
  .footer .footer__feedback {
    margin-top: 55px;
  }
}
.footer .footer__feedback-text {
  width: 360px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  margin-top: 32px;
  color: #222222;
}
@media (max-width: 1599px) {
  .footer .footer__feedback-text {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .footer .footer__feedback-text {
    width: 92%;
  }
}
.footer .footer__feedback-text--italic {
  font-style: italic;
}
.footer .footer__subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 1599px) {
  .footer .footer__subscription {
    margin-top: 55px;
    width: 47%;
  }
}
@media (max-width: 767px) {
  .footer .footer__subscription {
    width: 92%;
  }
}
.footer .footer__subscription-title {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
@media (max-width: 767px) {
  .footer .footer__subscription-title {
    font-size: 14px;
    line-height: 21px;
  }
}
.footer .footer__subscription-title--bold {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}
.footer .footer__subscription-form {
  margin-top: 32px;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1599px) {
  .footer .footer__subscription-form {
    margin-top: 27px;
    margin-bottom: 140px;
    width: 46%;
  }
}
@media (max-width: 767px) {
  .footer .footer__subscription-form {
    width: 91%;
  }
}
.footer .footer__subscription-form-input {
  background: #E1E1E1;
  color: #222222;
  border: none;
  border-radius: 30px 0 0 30px;
  width: 256px;
  height: 49px;
  padding-left: 22px;
}
@media (max-width: 1599px) {
  .footer .footer__subscription-form-input {
    width: 72%;
  }
}
@media (max-width: 767px) {
  .footer .footer__subscription-form-input {
    width: 73%;
  }
}
.footer .footer__subscription-form-input:hover,
.footer .footer__subscription-form-input:focus {
  background: #FFFFFF;
}
.footer .footer__subscription-form-button {
  background: #F16D7F;
  color: #FFFFFF;
  border: none;
  border-radius: 0 30px 30px 0;
  width: 100px;
  height: 49px;
  cursor: pointer;
}
@media (max-width: 1599px) {
  .footer .footer__subscription-form-button {
    width: 28%;
  }
}
@media (max-width: 767px) {
  .footer .footer__subscription-form-button {
    width: 27%;
  }
}
.footer .footer__subscription-form-button:hover,
.footer .footer__subscription-form-button:focus {
  background: #E05C6E;
}
.footer .footer__subscription-form-button:active {
  background: #222222;
}

.copyright {
  background-color: #222222;
}
.copyright .copyright__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
@media (max-width: 767px) {
  .copyright .copyright__wrp {
    flex-direction: column-reverse;
  }
}
.copyright .copyright__text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .copyright .copyright__text {
    margin-bottom: 9px;
  }
}
.copyright .copyright__list {
  display: flex;
}
@media (max-width: 767px) {
  .copyright .copyright__list {
    margin-top: 43px;
    margin-bottom: 40px;
  }
}
.copyright .copyright__item-link {
  background: #FFFFFF;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 7px;
}
.copyright .copyright__icon {
  fill: #222222;
  background: #FFFFFF;
}
.copyright .copyright__item-link:hover,
.copyright .copyright__item-link:focus {
  background: #F16D7F;
}
.copyright .copyright__item-link:hover .copyright__icon,
.copyright .copyright__item-link:focus .copyright__icon {
  fill: #FFFFFF;
  background: #F16D7F;
}

.registration-wrp {
  background: #F8F3F4;
}

.registration-title {
  padding: 60px 0;
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 767px) {
  .registration-title {
    text-align: center;
  }
}

.registration__list {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}
@media (max-width: 1599px) {
  .registration__list {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .registration__list {
    flex-direction: column;
  }
}

.registration__item {
  width: 360px;
}
@media (max-width: 1599px) {
  .registration__item {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .registration__item {
    width: 95%;
    margin-bottom: 40px;
  }
}

.registration__form-input {
  display: block;
  width: 100%;
  height: 45px;
  padding-left: 16px;
  margin-top: 20px;
  border: none;
  outline: 1px solid #A4A4A4;
}

.registration__form-input:hover,
.registration__form-input:focus {
  outline: 1px solid #E05C6E;
}

.registration__form-sub-title {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__form-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
}

.registration__form-label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-right: 20px;
  cursor: pointer;
}

.registration__form-button {
  color: #FFFFFF;
  text-transform: uppercase;
  background: #F16D7F;
  padding: 16px 66px 17px 29px;
  border: none;
  margin-top: 39px;
  display: flex;
  position: relative;
}

.registration__form-button:hover,
.registration__form-button:focus {
  cursor: pointer;
  background: #E05C6E;
}

.registration__form-button:active {
  background: #222222;
}

.registration__form-button:after {
  content: "";
  position: absolute;
  background-image: url(../img/arrow-registration.svg);
  width: 17px;
  height: 10px;
  right: 25px;
  top: 20px;
}

.registration__form-gender {
  padding: 33px 0;
}

input[type=radio] {
  appearance: none;
  /* отменяем втроенные настройки браузеров */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  margin-right: 10px;
  position: relative;
  top: 4px;
}

input[type=radio]:checked {
  border: 7px solid #F16D7F;
}

.registration__loyalty {
  width: 650px;
}
@media (max-width: 1599px) {
  .registration__loyalty {
    width: 45%;
    margin-left: 22px;
  }
}
@media (max-width: 767px) {
  .registration__loyalty {
    width: 95%;
  }
}

.registration__loyalty-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

.registration__loyalty-text,
.registration__loyalty-item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__loyalty-text {
  margin: 22px 0;
}

.registration__loyalty-item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.registration__loyalty-item:before {
  content: "";
  display: block;
  background-image: url(../img/tick.svg);
  width: 20px;
  height: 16px;
  padding-right: 23px;
  background-repeat: no-repeat;
}

.cart__title-wrp {
  background: #F8F3F4;
  height: 148px;
}

.cart__title {
  padding: 60px 0;
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 767px) {
  .cart__title {
    padding: 50px 0 70px 0;
    text-align: center;
  }
}

.cart__wrp {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
}
@media (max-width: 1599px) {
  .cart__wrp {
    margin-top: 60px;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .cart__wrp {
    margin-top: 40px;
  }
}

.cart__card-box {
  width: 57%;
}
@media (max-width: 1599px) {
  .cart__card-box {
    width: 100%;
  }
}

.cart__card {
  width: 100%;
  height: 306px;
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
}
@media (max-width: 767px) {
  .cart__card {
    height: 188px;
  }
}

.cart__card:before {
  content: "";
  position: absolute;
  background-image: url(../img/cross.svg);
  width: 18px;
  height: 18px;
  top: 28px;
  right: 22px;
}
@media (max-width: 767px) {
  .cart__card:before {
    width: 10px;
    height: 10px;
    top: 17px;
    right: 12px;
    background-size: contain;
  }
}

.cart__card--margin-top {
  margin-top: 20px;
}

.cart__card-info {
  padding: 22px 31px;
}
@media (max-width: 767px) {
  .cart__card-info {
    padding: 13px 17px;
  }
}

.cart__card-info-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 262px;
  margin-bottom: 36px;
}
@media (max-width: 767px) {
  .cart__card-info-title {
    font-size: 16px;
    line-height: 19px;
  }
}

.cart__card-info-title--br {
  display: block;
}

.cart__card-info-text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-top: 6px;
}
@media (max-width: 767px) {
  .cart__card-info-text {
    font-size: 14px;
    line-height: 17px;
  }
}

.cart__card-info-text--price {
  color: #F16D7F;
}

.cart__card-info-text--color {
  color: #575757;
}

.cart__card-info-text--size {
  color: #575757;
}

.cart__card-info-text--quantity {
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
  width: 43px;
  height: 24px;
  background: #FFFFFF;
  margin-left: 24px;
}
@media (max-width: 767px) {
  .cart__card-info-text--quantity {
    font-size: 10px;
    line-height: 12px;
    width: 24px;
    height: 15px;
    margin-left: 15px;
  }
}

.cart__card-button-wrp {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.cart__card-button {
  font-weight: 300;
  text-transform: uppercase;
  padding: 16px 40px;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
}
@media (max-width: 767px) {
  .cart__card-button {
    width: 48%;
    padding: 9px 0;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
  }
}

.cart__card-button:hover,
.cart__card-button:focus {
  cursor: pointer;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.cart__card-button:active {
  cursor: pointer;
  background: #F16D7F;
  color: #FFFFFF;
}

.cart__form {
  width: 360px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1599px) {
  .cart__form {
    width: 100%;
    margin-top: 65px;
  }
}
@media (max-width: 767px) {
  .cart__form {
    margin-top: 48px;
  }
}

@media (max-width: 1599px) {
  .cart__form-wrp {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .cart__form-wrp {
    flex-direction: column;
  }
}

.cart__form-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}
@media (max-width: 1599px) {
  .cart__form-title {
    margin-bottom: 20px;
  }
}

.cart__form-contacts {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1599px) {
  .cart__form-contacts {
    width: 46%;
  }
}
@media (max-width: 767px) {
  .cart__form-contacts {
    width: 100%;
  }
}

.cart__form-input {
  margin-top: 20px;
  padding: 12px 0 15px 17px;
  border: 1px solid #A4A4A4;
}

@media (max-width: 1599px) {
  .cart__form-input--nomargin {
    margin-top: 0;
  }
}

.cart__form-input:hover,
.cart__form-input:focus {
  cursor: pointer;
  border: 1px solid #F16D7F;
}

.cart__form-contacts-button {
  width: 100px;
  margin-top: 24px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  color: #4A4A4A;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 13px;
  padding-bottom: 11px;
}

.cart__form-contacts-button:hover,
.cart__form-contacts-button:focus {
  cursor: pointer;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.cart__form-contacts-button:active {
  cursor: pointer;
  background: #F16D7F;
  color: #FFFFFF;
}

.cart__form-price {
  width: 100%;
  height: 214px;
  background: #F5F3F3;
  margin-top: 58px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1599px) {
  .cart__form-price {
    width: 46%;
    margin-left: 15px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .cart__form-price {
    width: 100%;
    margin-top: 48px;
    margin-left: 0;
  }
}

.cart__form-price-sub-total {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
  align-self: flex-end;
  margin-top: 40px;
  margin-right: 40px;
}

.cart__form-price-sub-total--price {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-left: 20px;
}

.cart__form-price-grand-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  margin-top: 12px;
  align-self: flex-end;
  margin-right: 40px;
}

.cart__form-price-grand-total--price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  margin-left: 20px;
}

.cart__form-price--hr {
  height: 1px;
  background: #E2E2E2;
  margin-top: 39px;
}

.cart__form-price-button {
  width: 76%;
  background: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 0;
  border: none;
  margin-top: 17px;
  white-space: nowrap;
}

.cart__form-price-button:hover,
.cart__form-price-button:focus {
  cursor: pointer;
  background: transparent;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.cart__form-price-button:active {
  cursor: pointer;
  background: #FF6A6A;
  color: #FFFFFF;
}

.product {
  background-color: #F8F3F4;
}
.product .product__title-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}
.product .product__title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}
.product .product__category {
  color: #636363;
  text-transform: uppercase;
}
.product .product__category-pink {
  color: #F16D7F;
  font-weight: 700;
}
.product .product__test-list {
  display: flex;
}
.product .product__test-item {
  width: 360px;
}
.product .product__test-text {
  width: 360px;
  color: violet;
}

.slider {
  background: #F7F7F7;
  padding: 100px 0;
}
.slider .slider__img {
  width: 597px;
  margin: 0 auto;
}

.description {
  width: 1140px;
  min-height: 600px;
  padding: 65px 0;
  border: 1px solid;
  margin: -65px auto 128px auto;
  z-index: 2;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description .description__title {
  color: #F16D7F;
  text-transform: uppercase;
  text-align: center;
}
.description .description__devider {
  background-color: #F16D7F;
  width: 63px;
  height: 3px;
  border: none;
  margin-top: 12px;
}
.description .description__sub-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  color: #4D4D4D;
  text-transform: uppercase;
  text-align: center;
  margin-top: 12px;
}
.description .description__text {
  font-weight: 300;
  margin: 48px auto 32px auto;
  text-align: center;
  max-width: 555px;
}
.description .description__price {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.description .description__line {
  width: 640px;
  margin: 65px auto;
  border: 1px solid #EAEAEA;
  height: 1px;
  background: #EF5B70;
  opacity: 0.2;
}
.description .description__dropdown {
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
}
.description .description__button {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  color: #F16D7F;
  background: none;
  border: 1px solid #F16D7F;
  width: 211px;
  height: 47px;
  font-size: 16px;
  line-height: 19px;
  padding: 14px 0;
  position: relative;
}
.description .description__button:hover,
.description .description__button:focus {
  cursor: pointer;
  border: 1px solid #222222;
}
.description .description__button:active {
  cursor: pointer;
  background: #222222;
}
.description .description__button::before {
  position: absolute;
  content: "";
  background-image: url(../img/cart-pink.svg);
  width: 26px;
  height: 24px;
  top: 12px;
  left: 23px;
}

.fas-slider-arrow {
  color: black;
  font-size: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}

.fas-slider-arrow:hover,
.fas-slider-arrow:focus {
  cursor: pointer;
}

.fas-slider-arrow:active {
  cursor: pointer;
  color: #F16D7F;
}

.fa-chevron-left:before {
  padding: 10px 15px;
}

.fa-chevron-right:before {
  padding: 10px 15px;
}

.dropdown {
  width: 130px;
}

.btn-secondary {
  color: #6F6E6E;
  background-color: transparent;
  border-color: #6F6E6E;
}

.btn {
  line-height: 17px;
  color: #6F6E6E;
  text-align: center;
  background-color: transparent;
  border: 1px solid #6F6E6E;
  font-size: 14px;
  font-family: inherit;
  text-transform: uppercase;
}

.product__test-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__test-item {
  width: 30%;
}

.product__test-text {
  width: 360px;
}

@media (max-width: 1599px) {
  .product__test-item {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .product__test-item {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */