.container {
    width: 1140px;
    margin: 0 auto;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url("../fonts/lato-regular.woff2") format("woff2"),
        url("../fonts/lato-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url("../fonts/lato-bold.woff2") format("woff2"),
        url("../fonts/lato-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url("../fonts/lato-italic.woff2") format("woff2"),
        url("../fonts/lato-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: 'Lato';
    @include font(14px, 17px, 400, normal);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* цвет для placeholder */

::-webkit-input-placeholder {
    color: $placeholder-grey;
}

::-moz-placeholder {
    color: $placeholder-grey;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: $placeholder-grey;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: $placeholder-grey;
}

/* скрываем placeholder при фокусе */
:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

@media (max-width: $tablet-width) {
    .container {
        width: 94%;
        margin: 0 auto;
    }

}

@media (max-width: $mobile-width) {
    .container {
        width: 92%;
        margin: 0 auto;
    }

}