@mixin font ($font-size: 14px, $line-height: 17px, $font-weight: 400, $font-style: normal) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin top-pink-text {
    padding: 60px 0;
    color: #F16D7F;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
}

@mixin tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}