$black: #222222;
$pink-bkg: #F1E4E6;
$pink-text: #F16D7F;
$white-text: #FFFFFF;
$grey-text: #9F9F9F;
$darkgrey-text: #5D5D5D;
$lightgrey-bkg: #F8F8F8;
$button-border: #FF6A6A;
$benefits-text: #FBFBFB;
$subscribe-input: #E1E1E1;
$pink-hover: #E05C6E;
$registration-bkg: #F8F3F4;
$placeholder-grey: #B1B1B1;
$tablet-width: 1599px;
$mobile-width: 767px;
$breakpoint-width: 1139px;