.copyright {
    background-color: $black;

    .copyright__wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;

        @include mobile {
            flex-direction: column-reverse;
        }
    }

    .copyright__text {
        font-size: 16px;
        line-height: 19px;
        color: $white-text;

        @include mobile {
            margin-bottom: 9px;
        }
    }

    .copyright__list {
        display: flex;

        @include mobile {
            margin-top: 43px;
            margin-bottom: 40px;
        }
    }

    .copyright__item-link {
        background: $white-text;
        border: none;
        @include flex-center;
        width: 32px;
        height: 32px;
        margin-left: 7px;
    }

    .copyright__icon {
        fill: $black;
        background: $white-text;
    }

    .copyright__item-link:hover,
    .copyright__item-link:focus {
        background: $pink-text;
        transform: rotate(45deg);
    }

    .copyright__item-link:hover .copyright__icon,
    .copyright__item-link:focus .copyright__icon {
        fill: $white-text;
        background: $pink-text;
    }

}