.product {
    background-color: $registration-bkg;

    .product__title-wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;
    }

    .product__title {
        font-size: 24px;
        line-height: 29px;
        color: $pink-text;
        text-transform: uppercase;
    }

    .product__category {
        color: #636363;
        text-transform: uppercase;
    }

    .product__category-pink {
        color: $pink-text;
        font-weight: 700;
    }





    .product__test-list {
        display: flex;
    }

    .product__test-item {
        width: 360px;
    }

    .product__test-text {
        width: 360px;
        color: violet;
    }
}