.product__test-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__test-item {
    width: 30%;
}

.product__test-text {
    width: 360px;
}

@include tablet {
    .product__test-item {
        width: 47%;
    }
}

@include mobile {
    .product__test-item {
        width: 100%;
    }
}